################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Pagamentos.Domain/bin/Debug/netstandard2.0
/src/Pagamentos.Domain/obj
/src/Pagamentos.Shared/bin/Debug/netstandard2.0
/src/Pagamentos.Shared/obj
/src/Pagamentos.Tests/bin/Debug/netcoreapp2.0
/src/Pagamentos.Tests/obj
